PORT=10000
SUNO_API_KEY=cddbdc16217f5646660bf6f908016721
SUNO_BASE_URL=https://api.sunoapi.org
SUNO_CREATE_PATH=/api/custom_generate
SUNO_STATUS_PATH=/api/get
ALLOWED_ORIGIN=https://sunostyler.com
