PORT=10000
SUNO_API_KEY=your_real_suno_api_key_here
SUNO_BASE_URL=https://api.sunoapi.org
SUNO_CREATE_PATH=/api/custom_generate
SUNO_SIMPLE_CREATE_PATH=/api/generate
SUNO_STATUS_PATH=/api/get
ALLOWED_ORIGIN=https://sunostyler.com